<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <p style="color: red">Welcom to My Homepage!</p>


{#    {% if people.name %}#}
{#        <p>欢迎， {{ people.name }}</p>#}
{#    {% else %}#}
{#        <p>欢迎你，游客，请先注册</p>#}
{#    {% endif %}#}

    {% for people in people_list %}
        <a href="/contact/detail/{{ people.name }}"><li>{{ people.name }}</li></a>
    {% endfor %}
    <br>
    <br>
    <a href="/contact/register"><buttom>添加员工信息</buttom></a>

    

</body>
</html>